{
  "printWidth": 50,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto"
}
